<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="style.css" media="screen">
    </head>
    <header>
        <nav class="navbar">
            <ul class="navlist">
            {{#each tables}}
                <li class="navitem navlink"><a href="/{{table}}">{{table}}</a></li>
            {{/each}}
            </ul>
        </nav>
    </header>
    <main>

    </main>
</html>