<header>
    <nav class="navbar">
        <ul class="navlist">
            <li class="navitem navlink"><a href="/">Index</a></li>
        {{#each tables}}
            <li class="navitem navlink"><a href="/table/{{table}}">{{table}}</a></li>
        {{/each}}
        </ul>
    </nav>
</header>