<main>
    <article>
    <p>
        <ul>
            <li>
                <label for="create-developer-name">Developer Name:</label>
                <input type = "text" name ="create-developer-name">
            </li>
            <li>
                <button>Create Developer</button>
            </li>
        </ul>
    </p>
    </article>
    <article>
    <p>
        <ul>
            <li>
                <label for="delete-developer-name">Developer Name:</label>
                <input type = "text" name ="delete-developer-name">
            </li>
            <li>
                <button>Delete Developer</button>
            </li>
        </ul>
    </p>
    </article>
    <article>
    <p>
        <ul>
            <li>
                <label for="select-developer-name">Developer Name:</label>
                <input type = "text" name ="select-developer-name">
            </li>
            <li>
                <button>Select Developer</button>
            </li>
        </ul>
    </p>
    </article>
    <article>
    <p>
        <ul>
            <li>
                <label for="update-old-developer-name">Old Developer Name:</label>
                <input type = "text" name ="update-old-developer-name">
                <label for="update-new-developer-name">New Developer Name:</label>
                <input type = "text" name ="update-new-developer-name">
            </li>
            <li>
                <button>Update Developer</button>
            </li>
        </ul>
    </p>
    </article>
</main>