<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CS 340 Project</title>

        <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="/index.js" charset="utf-8" defer></script>
        
    </head>
    <body>
        {{> header}}
        <article class="description">
            Some boxes include a blank option. Selecting this option will make it match anything for that column, instead of a specific value. This means that leaving all rows blank in a delete statement will delete the entire relation, so be careful.
        </article>
        {{{body}}}
    </body>

</html>