<main>
    <article>
        <p>Create Comment</p>
        <ul>
            <li>
                <label for="create-userID">User ID:</label>
                <input type = "number" name ="create-userID">
            </li>
            <li>
                <label for="create-postID">Post ID:</label>
                <input type = "number" name ="create-postID">
            </li>
            <li>
                <label for="create-timestamp">TimeStamp:</label>
                <input type = "datetime" name ="create-timestamp">
            </li>
            <li>
                <label for="create-content">Content:</label>
                <input type = "text" name ="create-content">
            </li>
            <li>
                <button>Create Comment</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete Comment</p>
        <ul>
            <li>
                <label for="delete-commentID">Comment ID:</label>
                <input type = "number" name ="delete-commentID">
            </li>
            <li>
                <label for="delete-userID">User ID:</label>
                <input type = "number" name ="delete-userID">
            </li>
            <li>
                <label for="delete-postID">Post ID:</label>
                <input type = "number" name ="delete-postID">
            </li>
            <li>
                <label for="delete-timestamp">TimeStamp:</label>
                <input type = "datetime" name ="delete-timestamp">
            </li>
            <li>
                <label for="delete-content">Content:</label>
                <input type = "text" name ="delete-content">
            </li>
            <li>
                <button>Delete Comment</button>
            </li>
        </ul>
    </article>

    <article>
    <p>Retrieve Comment</p>
        <ul>
            <li>
                <label for="select-commentId">Comment ID:</label>
                <input type = "number" name ="select-commentId">
            </li>
            <li>
                <label for="select-userID">User ID:</label>
                <input type = "number" name ="select-userID">
            </li>
            <li>
                <label for="select-postID">Post ID:</label>
                <input type = "number" name ="select-postID">
            </li>
            <li>
                <label for="select-timestamp">TimeStamp:</label>
                <input type = "datetime" name ="select-timestamp">
            </li>
            <li>
                <label for="select-content">Content:</label>
                <input type = "text" name ="select-content">
            </li>
            <li>
                <button>Select Comment</button>
            </li>
        </ul>
         <table class="output">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>Comment ID</th>
                <th>User ID</th>
                <th>Post ID</th>
                <th>Timestamp</th>
                <th>Content</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table> 
    </article>
    <article>
    <p>Update Comment</p>
        <ul>
            <li>
                <label for="update-commentId">Comment ID:</label>
                <input type = "number" name ="update-commentId">
            </li>
            <li>
                <label for="update-old-userID">Old User ID:</label>
                <input type = "number" name ="update-old-userID">
                <label for="update-new-userID">New User ID:</label>
                <input type = "number" name ="update-new-userID">
            </li>
            <li>
                <label for="update-old-postID">Old Post ID:</label>
                <input type = "number" name ="update-old-postID">
                <label for="update-new-postID">New Post ID:</label>
                <input type = "number" name ="update-new-postID">
            </li>
            <li>
                <label for="update-old-timestamp">Old TimeStamp:</label>
                <input type = "datetime" name ="update-old-timestamp">
                <label for="update-new-timestamp">New TimeStamp:</label>
                <input type = "datetime" name ="update-new-timestamp">
            </li>
            <li>
                <label for="update-old-content">Old Content:</label>
                <input type = "text" name ="update-old-content">
                <label for="update-new-content">New Content:</label>
                <input type = "text" name ="update-new-content">
            </li>
            <li>
                <button>Update Comment</button>
            </li>
        </ul>
    </article>
</main>
