<main>
    <article>
    <p>Create Developer</p>
        <ul>
            <li>
                <label for="create-developer-name">Developer Name:</label>
                <input type = "text" name ="create-developer-name">
            </li>
            <li>
                <button>Create Developer</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Delete Developer</p>
        <ul>
            <li>
                <label for="delete-developer-name">Developer Name:</label>
                <input type = "text" name ="delete-developer-name">
            </li>
            <li>
                <button>Delete Developer</button>
            </li>
        </ul>
    </article>
    <article>
    <p>Retrieve Developer</p>
        <ul>
            <li>
                <label for="select-developer-id">Developer ID:</label>
                <input type = "number" name ="select-developer-id">
            </li>
            <li>
                <label for="select-developer-name">Developer Name:</label>
                <input type = "text" name ="select-developer-name">
            </li>
            <li>
                <button>Select Developer</button>
            </li>
        </ul>
        
        <table class="output">
            <caption>Output - Leave fields blank to select rows without regard to the value of that column</caption>
            <tr>
                <th>Developer ID</th>
                <th>Developer Name</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </table> 
                
    </article>
    <article>
    <p>Update Developer</p>
        <ul>
            <li>
                <label for="update-developer-id">Developer ID:</label>
                <input type = "number" name ="update-developer-id">
            </li>
            <li>
                <label for="update-old-developer-name">Old Developer Name:</label>
                <input type = "text" name ="update-old-developer-name">
                <label for="update-new-developer-name">New Developer Name:</label>
                <input type = "text" name ="update-new-developer-name">
            </li>
            <li>
                <button>Update Developer</button>
            </li>
        </ul>
    </article>
</main>