<main>
    <article>
    <p>
        <ul>
            <li>
                <label for="create-userID">User ID:</label>
                <input type = "number" name ="create-userID">
            </li>
            <li>
                <label for="create-gameID">Game ID:</label>
                <input type = "number" name ="create-gameID">
            </li>
            <li>
                <label for="create-purchase-date">Purchase Date:</label>
                <input type = "datetime" name ="create-purchase-date">
            </li>
            <li>
                <button>Create Game Ownership</button>
            </li>
        </ul>
    </p>
    </article>
    <article>
    <p>
        <ul>
            <li>
                <label for="delete-userID">User ID:</label>
                <input type = "number" name ="delete-userID">
            </li>
            <li>
                <label for="delete-gameID">Game ID:</label>
                <input type = "number" name ="delete-gameID">
            </li>
            <li>
                <label for="delete-purchase-date">Purchase Date:</label>
                <input type = "datetime" name ="delete-purchase-date">
            </li>
            <li>
                <button>Delete Game Ownership</button>
            </li>
        </ul>
    </p>
    </article>
    <article>
    <p>
        <ul>
            <li>
                <label for="select-userID">User ID:</label>
                <input type = "number" name ="select-userID">
            </li>
            <li>
                <label for="select-gameID">Game ID:</label>
                <input type = "number" name ="select-gameID">
            </li>
            <li>
                <label for="select-purchase-date">Purchase Date:</label>
                <input type = "datetime" name ="select-purchase-date">
            </li>
            <li>
                <button>Select Game Ownership</button>
            </li>
        </ul>
                <label for "output">Output</label>
        <textarea class="output" name="output"></textarea>
    </p>
    </article>
    <article>
    <p>
        <ul>
            <li>
                <label for="update-old-userID">Old User ID:</label>
                <input type = "number" name ="update-old-userID">
                <label for="update-new-userID">New User ID:</label>
                <input type = "number" name ="update-new-userID">
            </li>
            <li>
                <label for="update-old-gameID">Old Game ID:</label>
                <input type = "number" name ="update-old-gameID">
                <label for="update-new-gameID">New Game ID:</label>
                <input type = "number" name ="update-new-gameID">
            </li>
            <li>
                <label for="update-old-purchase-date">Old Purchase Date:</label>
                <input type = "datetime" name ="update-old-purchase-date">
                <label for="update-new-purchase-date">New Purchase Date:</label>
                <input type = "datetime" name ="update-new-purchase-date">
            </li>
            <li>
                <button>Update Game Ownership</button>
            </li>
        </ul>
    </p>
    </article>
</main>