<main>
<article>
    <p>
        Welcome to the database management tool of our webpage. In each page, you can create, retrieve, update, or delete entries in one of 7 tables. 
        If a control is left empty, then it will be disregarded in the query. Otherwise, the tool will use the data you input to generate a query.
        For example, if you click Select Users without specifying a username, then the tool will retrieve all users. If you specify a username, then it will only retrieve
        rows with that username.
    </p>
</article>
</main>